<?php

define('__ENV_PATH__',          '/usr/bin/env -i');
define('__GIT_PATH__',          '/usr/bin/git');

define('__HOOKS_FILE__',        'hooks.yml');

define('__MAIL_SUBJECT__',      'WebHook %s');
define('__MAIL_FROM_ADDRESS__', 'git@acmewebsite.com');
define('__MAIL_FROM__',         'Git WebHook Robot');

$repositories = array(
    'acme/acmewebsite.com/master' => array(
        'dir' => '/var/www/acme/acmewebsite.com',
        'repo' => 'acmewebsite.com',
        'owner' => 'acme',
        'branch' => 'master'
    )
);

$transport = Swift_MailTransport::newInstance();